In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('concrete_data.csv')
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [3]:
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
# X_train, Y_train
# X_test, Y_test

In [6]:
df_columns = df.columns
predictors = df[df_columns[df_columns!='Strength']]
target = df['Strength']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [9]:
X_train

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
196,194.7,0.0,100.5,165.6,7.5,1006.4,905.9,28
631,325.0,0.0,0.0,184.0,0.0,1063.0,783.0,7
81,318.8,212.5,0.0,155.7,14.3,852.1,880.4,3
526,359.0,19.0,141.0,154.0,10.9,942.0,801.0,3
830,162.0,190.0,148.0,179.0,19.0,838.0,741.0,28
...,...,...,...,...,...,...,...,...
87,286.3,200.9,0.0,144.7,11.2,1004.6,803.7,3
330,246.8,0.0,125.1,143.3,12.0,1086.8,800.9,14
466,190.3,0.0,125.2,166.6,9.9,1079.0,798.9,100
121,475.0,118.8,0.0,181.1,8.9,852.1,781.5,28
860,314.0,0.0,113.0,170.0,10.0,925.0,783.0,28

In [10]:
Y_train

196    25.72
631    17.54
81     25.20
526    23.64
830    33.76
       ...
87     24.40
330    42.22
466    33.56
121    68.30
860    38.46
Name: Strength, Length: 721, dtype: float64

In [11]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [12]:
import keras

Using TensorFlow backend.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
# build the model
model = regression_model()

In [16]:
# fit the model
epochs = 50
model.fit(X_train, Y_train, epochs=epochs, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 233us/step - loss: 294117.1170
Epoch 2/50
721/721 [==============================] - 0s 67us/step - loss: 117037.0876
Epoch 3/50
721/721 [==============================] - 0s 58us/step - loss: 37620.9748
Epoch 4/50
721/721 [==============================] - 0s 58us/step - loss: 13093.0694
Epoch 5/50
721/721 [==============================] - 0s 57us/step - loss: 8953.9214
Epoch 6/50
721/721 [==============================] - 0s 53us/step - loss: 8004.6852
Epoch 7/50
721/721 [==============================] - 0s 53us/step - loss: 7235.9591
Epoch 8/50
721/721 [==============================] - 0s 53us/step - loss: 6536.4939
Epoch 9/50
721/721 [==============================] - 0s 49us/step - loss: 5890.7308
Epoch 10/50
721/721 [==============================] - 0s 50us/step - loss: 5280.0509
Epoch 11/50
721/721 [==============================] - 0s 49us/step - loss: 4710.3037
Epoch 12/50
721/721 [==============================] - 0s 48us/step - loss: 4196.3640
Epoch 13/50
721/721 [==============================] - 0s 48us/step - loss: 3699.3358
Epoch 14/50
721/721 [==============================] - 0s 47us/step - loss: 3263.9652
Epoch 15/50
721/721 [==============================] - 0s 49us/step - loss: 2857.2949
Epoch 16/50
721/721 [==============================] - 0s 56us/step - loss: 2489.6390
Epoch 17/50
721/721 [==============================] - 0s 48us/step - loss: 2166.7397
Epoch 18/50
721/721 [==============================] - 0s 50us/step - loss: 1874.5601
Epoch 19/50
721/721 [==============================] - 0s 49us/step - loss: 1622.4612
Epoch 20/50
721/721 [==============================] - 0s 48us/step - loss: 1398.3966
Epoch 21/50
721/721 [==============================] - 0s 49us/step - loss: 1216.8531
Epoch 22/50
721/721 [==============================] - 0s 49us/step - loss: 1059.4023
Epoch 23/50
721/721 [==============================] - 0s 48us/step - loss: 919.7708
Epoch 24/50
721/721 [==============================] - 0s 46us/step - loss: 812.0066
Epoch 25/50
721/721 [==============================] - 0s 47us/step - loss: 710.8670
Epoch 26/50
721/721 [==============================] - 0s 48us/step - loss: 633.9173
Epoch 27/50
721/721 [==============================] - 0s 48us/step - loss: 565.1250
Epoch 28/50
721/721 [==============================] - 0s 51us/step - loss: 514.2982
Epoch 29/50
721/721 [==============================] - 0s 48us/step - loss: 468.0530
Epoch 30/50
721/721 [==============================] - 0s 44us/step - loss: 433.6354
Epoch 31/50
721/721 [==============================] - 0s 47us/step - loss: 402.0299
Epoch 32/50
721/721 [==============================] - 0s 48us/step - loss: 375.4170
Epoch 33/50
721/721 [==============================] - 0s 69us/step - loss: 353.3162
Epoch 34/50
721/721 [==============================] - 0s 66us/step - loss: 333.0460
Epoch 35/50
721/721 [==============================] - 0s 47us/step - loss: 317.0576
Epoch 36/50
721/721 [==============================] - 0s 46us/step - loss: 302.8870
Epoch 37/50
721/721 [==============================] - 0s 44us/step - loss: 288.6085
Epoch 38/50
721/721 [==============================] - 0s 44us/step - loss: 277.8387
Epoch 39/50
721/721 [==============================] - 0s 43us/step - loss: 266.2728
Epoch 40/50
721/721 [==============================] - 0s 44us/step - loss: 258.0003
Epoch 41/50
721/721 [==============================] - 0s 46us/step - loss: 246.9371
Epoch 42/50
721/721 [==============================] - 0s 48us/step - loss: 239.3611
Epoch 43/50
721/721 [==============================] - 0s 49us/step - loss: 232.2978
Epoch 44/50
721/721 [==============================] - 0s 48us/step - loss: 223.7390
Epoch 45/50
721/721 [==============================] - 0s 43us/step - loss: 216.5832
Epoch 46/50
721/721 [==============================] - 0s 47us/step - loss: 209.9284
Epoch 47/50
721/721 [==============================] - 0s 44us/step - loss: 203.6505
Epoch 48/50
721/721 [==============================] - 0s 45us/step - loss: 198.0270
Epoch 49/50
721/721 [==============================] - 0s 46us/step - loss: 192.3528
Epoch 50/50
721/721 [==============================] - 0s 46us/step - loss: 187.7653

In [17]:
loss_val = model.evaluate(X_test, Y_test)
Y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 87us/step

189.73593485316798

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
mean_square_error = mean_squared_error(Y_test, Y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

189.7359356263855 0.0

In [20]:
# Creating the list

total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')

print("Mean of 50 mean squared errors without normalized data: "+str(mean))
print("Standard Deviation of 50 mean squared errors without normalized data: "+str(standard_deviation))

MSE 1: 91.55501266281968
MSE 2: 98.56913068456558
MSE 3: 85.15358146494647
MSE 4: 92.44266055702778
MSE 5: 72.93727795745949
MSE 6: 72.40922982175759
MSE 7: 75.81617119551477
MSE 8: 86.86173075456836
MSE 9: 54.736883367149574
MSE 10: 55.96936264778804
MSE 11: 50.35506504639067
MSE 12: 46.941243063670534
MSE 13: 55.432327968017184
MSE 14: 91.26850177555022
MSE 15: 50.19049794465593
MSE 16: 45.225368993567805
MSE 17: 64.74084507223085
MSE 18: 54.98625962711075
MSE 19: 43.94545640914571
MSE 20: 46.06296767694665
MSE 21: 46.10983385005815
MSE 22: 50.87135397654907
MSE 23: 47.5042461284156
MSE 24: 45.3977893965144
MSE 25: 71.66945249440215
MSE 26: 62.26807951695711
MSE 27: 48.80785147657672
MSE 28: 45.40421266771829
MSE 29: 58.762212142203616
MSE 30: 48.44228912402897
MSE 31: 52.40113929328795
MSE 32: 44.107703199664364
MSE 33: 49.52113179327215
MSE 34: 49.03675123788778
MSE 35: 46.13622637011087
MSE 36: 73.28005135792358
MSE 37: 78.72323275075375
MSE 38: 51.707679674463364
MSE 39: 48.194116623270475
MSE 40: 43.697914802526576
MSE 41: 53.00382991901879
MSE 42: 47.90509907250266
MSE 43: 46.28420147695202
MSE 44: 64.91319951424707
MSE 45: 52.313612558309316
MSE 46: 54.9530380644073
MSE 47: 67.1081175202305
MSE 48: 48.82483001511459
MSE 49: 51.1693914345553
MSE 50: 52.44297191780362


Mean of 50 mean squared errors without normalized data: 58.73122242357795
Standard Deviation of 50 mean squared errors without normalized data: 15.03166885939975